{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Arshiya Hafis</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body class = "project">
    <div class = "container-nav-project">
        <nav class = "nav-bar-project">
            <h3>Arshiya Hafis</h3>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'get_project' %}">Projects</a></li>
                <li><a href="#">Photography</a></li>
                <li><a href="{% url 'get_blog' %}">Blog</a></li>
                <li><a href="#">Resume</a></li>
            </ul>
        </nav>
    </div>
    <div class="pcontainer">
        <!-- <h1>Explore.</h1> -->
        <div class="slider">
          <div class="slider__btn-container">
            <button class="slider__btn slider__btn--left" aria-label="Move to previous slide">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
            </button>
            <button class="slider__btn slider__btn--right" aria-label="Move to next slide">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
            </button>
          </div>
          <div class="slide">
            <img src="/static/img/1.jpg" alt="alt">
            <img src="/static/img/2.jpg" alt="alt">
            <!-- <img src="/static/img/3.png" alt="alt"> -->
          </div>
        </div>
      </div>
  </body>
  <script src="{% static 'js/script.js' %}"></script>
<!-- </canvas> -->
</html>